<div class="container">

  <mat-card *ngIf="selectingPlayers">
    <mat-card-header>
      <mat-card-title>Add players</mat-card-title>
      <mat-card-subtitle>You need at least 2 players to play</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="addPlayer()">
        <p>
          <mat-form-field class="form-field" appearance="standard">
            <mat-label>Enter a player name</mat-label>
            <input autocomplete="off" [(ngModel)]="newPlayerName" name="name" matInput placeholder="Player name" />
            <button mat-button *ngIf="newPlayerName" matSuffix mat-icon-button type="submit">
              <mat-icon>person_add</mat-icon>
            </button>
          </mat-form-field>
        </p>
        <p>
          Added {{playerNames?.length || 0}} players:
          <span *ngFor="let pName of playerNames">
            <br />
            {{pName}}
          </span>
        </p>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button [disabled]="playerNames?.length<2" mat-raised-button color="primary" type="button"
        (click)="submitPlayers()">Done</button>
    </mat-card-actions>
  </mat-card>

  <div class="cardDeck" *ngIf="!selectingPlayers">

    <mat-card>
      <mat-card-header>
        <mat-card-title>Pot</mat-card-title>
        <mat-card-subtitle>{{potCount}} Points</mat-card-subtitle>
      </mat-card-header>
    </mat-card>

    <mat-card *ngFor="let pName of playerNames">
      <mat-card-header>
        <mat-card-title>{{pName}}</mat-card-title>
        <mat-card-subtitle>{{getScore(pName)}} Points</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <em *ngIf="currentTurn === pName">Your turn!</em>
      </mat-card-content>
      <mat-card-actions>
        <p *ngIf="currentTurn === pName">
          <button mat-raised-button color="primary" type="button" (click)="playTurn('shin')">ש</button>
          <button mat-raised-button color="primary" type="button" (click)="playTurn('hay')">ה</button>
          <button mat-raised-button color="primary" type="button" (click)="playTurn('gimmel')">ג</button>
          <button mat-raised-button color="primary" type="button" (click)="playTurn('nun')">נ</button>
          <button mat-raised-button color="primary" type="button" (click)="spin()">Spin for me</button>
        </p>
      </mat-card-actions>
    </mat-card>

  </div>


  <br />

  <button mat-raised-button color="warn" type="button" (click)="reset()">Reset Game</button>

</div>
